# ---- Flutter/Dart ----
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
pubspec.lock
build/
coverage/
coverage_report/
tests/**/reports/
android/.gradle/
android/app/build/
android/local.properties
**/captures/
*.apk
*.aab
*.ap_
*.dex
*.class
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/build/
macos/Flutter/ephemeral/
macos/Pods/
macos/build/
*.xcworkspace/
*.xcuserstate
*.xcuserdatad/
**/*.pbxuser
**/*.mode1v3
**/*.mode2v3
web/.firebase/
firebase.json
windows/runner/Debug/
windows/runner/Release/
windows/runner/x64/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
linux/build/
.idea/
.vscode/
*.iml
.env
.env.*
*.keystore
*.jks
*.p12
google-services.json
GoogleService-Info.plist
.DS_Store
Thumbs.db
